<div class="roomstext">
	<p><img src="./shelter/about/rooms/images/single.jpg" height="100px" align="left" style="padding:5px;" />Одноместный стандартный номер, расположенные на первой линии от моря, имеют два входа: один во двор и второй на пляж. На втором этаже — большой балкон-веранда. Коттедж рассчитан на семью из 4 человек или компанию друзей.</p>
	<p>Ванная комната: туалет, душевая кабина, раковина, полотенцесушитель. Сантехника новая. На стене висит зеркало с полочкой. 
	Балкон: на нем удобно загорать, любоваться закатом, общаться с друзьями — для этих целей в коттедже имеются два шезлонга. С балкона открывается потрясающий вид на море.</p>
</div>