* {
	padding:0;
	margin:0;
}
.shelteronline {
	width:800px; 	
	padding:0;
	/*padding-top:30px;*/
	margin:0 auto;
	height:100%;
}

.ucs_sresult_table .active{
    background: #f2f2f2;
}

.ucs_menuschedule {
    display: none;
}

.ucs_step {
    padding-top: 0px;
}