body {overflow-y:scroll;}

hr {border:none; height:3px; background:#ccc;}
p {padding:5px 0px;}

/* CB3514 756454 5d7327 */

.ucs_mainschedule {width:100%; margin:auto; overflow-x:auto;}
.ucs_schedule {width:100%; margin:auto; font-family:Verdana; font-size:12px;}
.ucs_schedule li {list-style:none !IMPORTANT; background:none !IMPORTANT; padding:0px !IMPORTANT; margin:0px !IMPORTANT;}
.ucs_schedule input {border:1px #ccc solid; height:25px; line-height:1.5em; background:#eee; font-size:14px; font-family:Arial; color:#000; text-align:center;}
.ucs_schedule select {border:1px #ccc solid; width:200px; height:27px; line-height:1.5em; background:#eee; font-size:12px; font-family:Arial; color:#000;}
.ucs_schedule h1 {font:16px Arial; color:#CB3514; padding:0px; margin:0px; padding-bottom:5px; font-weight:bold; clear:both;}
.ucs_schedule img {border:none; padding:0px; margin:0px;}
.ucs_schedule form {padding:0px; margin:0px;}
.ucs_schedule label {font-size:12px;}
.ucs_error_text {font-size:14px; color:#ff0000; text-align:left !IMPORTANT;}
.ucs_error_block {background:#CB3514; color:#fff; text-align:left !IMPORTANT; padding:3px; margin-bottom:5px;}
.ucs_error_text_schedule {text-align:left; font-size:11px; padding-top:5px;}
.ucs_load_img {padding:5px 0px;}

.ucs_width_50 {width:50px !IMPORTANT;}
.ucs_width_22_50 {width:50px !IMPORTANT; height:22px !IMPORTANT;}
.ucs_width_80 {width:80px;}
.ucs_width_100 {width:100px;}
.ucs_width_130 {width:130px;}
.ucs_width_150 {width:150px;}
.ucs_width_200 {width:200px;}
.ucs_width_250 {width:250px;}
.ucs_width_300 {width:300px;}
.ucs_submit {padding-left:10px; padding-right:10px; height:27px !IMPORTANT;}

.ucs_red {color:#CB3514; font-weight:bold;}
.ucs_grey {background:#eee;}
.ucs_none {display:none;}

.ucs_menuschedule {clear:both; padding-bottom:5px;}
.ucs_menuschedule ul {list-style:none; padding:0px; margin:0px; float:right;}
.ucs_menuschedule .ucs_top_menu  {padding-top:10px;}
.ucs_menuschedule .ucs_top_menu  a {font:12px Arial; color:#5d7327; text-decoration:none;}
.ucs_menuschedule .ucs_top_menu  a:hover {color:#f66d08;}
.ucs_menuschedule .ucs_top_menu li {float:left; padding:0px; margin:0px; padding-right:15px !IMPORTANT; font:12px Arial; color:#CB3514;}
.ucs_menuschedule .ucs_top_menu li:hover {color:#CB3514;}
.ucs_menuschedule .ucs_top_menu li:hover span a {color:#CB3514;}
.ucs_menuschedule .ucs_top_menu li span a {color:#ff6600;}
.ucs_menuschedule .ucs_top_menu li span a:hover  {color:#ff6600;}
.ucs_menu_firm a {color:#CB3514 !IMPORTANT;}

.ucs_lang {float:right; padding-left:15px; margin-top: 10px;}
.ucs_lang ul {list-style:none; padding:0px; margin:0px; float:left; vertical-align:bottom;}
.ucs_lang li {height:15px; float:left; padding:0px 7px !IMPORTANT; margin:0px; border-right:1px #ccc solid;}
.ucs_lang li:last-child{border-right:none;}
.ucs_lang img {opacity: 0.7;}
.ucs_lang img:hover {opacity: 1;}

.ucs_input_check {border:none !IMPORTANT; background:none !IMPORTANT;}
.ucs_checkbox {width:15px !IMPORTANT; height:15px !IMPORTANT; border:none !IMPORTANT; background:none !IMPORTANT; margin-top:3px;}

.ucs_relative {position:relative;}

.ucs {width:170px; padding-right:10px; float:left;}
.ucs img {width:170px;}

.ucs_dataschedule {clear:both; text-align:left; padding-top:30px; padding-bottom:30px;}
.ucs_dataschedule a {font-family:Verdana; font-size:12px; color:#CB3514; text-decoration:underline;}
.ucs_dataschedule a:hover {text-decoration:none;}

.ucs_link {font-family:Verdana; font-size:11px; color:#CB3514; text-decoration:underline; cursor:pointer;}
.ucs_link:hover {text-decoration:none;}

.ucs_cursor {cursor:pointer;}

.ucs_ptable td {padding:5px;}

.ucs_add_guest_pd td {padding:5px;}

.ucs_findform {width:400px;}

.ucs_add_guest td {vertical-align:middle; font-size:12px; color:#000;}
.ucs_add_guest span {color:#ff6600;}
.ucs_add_guest font {font-size:10px;}
.ucs_add_guest div {clear:both; overflow:auto;}
.ucs_add_guest p {margin:0px; padding:0px;}
.ucs_numbpeopledesc {font-size:11px !IMPORTANT; line-height:1.2em; color:#333; padding-top:5px;}

/* shelter */

.ucs_textarea {width:100%; height:60px;}
.ucs_message{clear:both;}

.ucs_block {overflow:auto; clear:both; padding-top:15px;}
.ucs_block p {clear:both;}
.ucs_links_color {border-top:2px #ccc dotted; margin-top:15px; margin-bottom:15px;}
.ucs_zag {font:16px Arial; color:#CB3514; padding:0px; margin:0px; padding-bottom:5px; font-weight:bold; padding-top:15px;}
.ucs_textcolor {color:#CB3514; padding:5px; border:1px #CB3514 solid; margin:5px 0px; font-weight:bold;}
.ucs_color {color:#CB3514;}
#ucs_reserv_button {padding:5px 0px !IMPORTANT; margin:0px !IMPORTANT; }
.ucs_reservation_login {color:#CB3514;}

.ucs_manyrooms {background:#555;}
.ucs_lessrooms {background:#b9b5b5;}
.ucs_norooms {background:#ebe9e9;}
.ucs_chooseroom {background:#c62207;}

.ucs_nochoose {cursor:default !IMPORTANT; background:#ebe9e9;}

.ucs_find_result_div {width:100%; overflow-x:auto;}
.ucs_find_result {font-size:10px; color:#fff;}
.ucs_find_result .ucs_nameresult {font-size:12px; color:#000; text-align:left; cursor:default; line-height:1.2em;}
.ucs_find_result .ucs_nameresult div{font-size:10px; color:#444;}
.ucs_find_result td {padding:5px; text-align:center;}

.ucs_find_result_history {padding-top:10px; font-size:12px; color:#000;}
.ucs_find_result_history td {padding:5px;}

.ucs_reserv_forms_login {margin:auto; width:580px;}

.ucs_reserv_forms {font-size:11px; color:#000; float:left;}
.ucs_reserv_forms td {padding:5px;}
.ucs_reserv_forms span {color:#CB3514;}
.ucs_race {padding-bottom:5px; font-size:12px;}
.ucs_reserv {color:#000; width:100%; border:1px #ccc solid; padding:5px 0px;}
.ucs_reserv .ucs_nameresult {font-size:12px; color:#000; text-align:left; cursor:default;}
.ucs_reserv td {padding:5px;}
.ucs_reserv td a {font-size:11px;}
.ucs_reserv input, select {border:1px #ccc solid;}
.ucs_reserv .ucs_timepicker {float:left;}
.ucs_reserv p {margin:0px; padding:0px;}


.ucs_dop_info td {font-size:11px; padding:5px !IMPORTANT;}
.ucs_dop_info label {font-size:11px;}
.ucs_dop_info .ucs_check_clear {display:inline-block; font-size:11px; font-weight:normal; color:#888; padding-left:5px;}
.ucs_dop_info .ucs_check_clear  span {color:#CB3514; cursor:pointer; border-bottom:1px #CB3514 dotted;}
.ucs_dop_info .ucs_check_clear  span:hover {border-bottom:none;}
.ucs_operation_name {font-size:12px; font-weight:bold; padding-bottom:5px;}

.ucs_reserv_no_rates {color:#000; border-left:1px #ccc solid; border-top:1px #ccc solid; width:100%;}
.ucs_reserv_no_rates  td {padding:5px; border-right:1px #ccc solid; border-bottom:1px #ccc solid;}

.ucs_cph {width:100px; height:35px;}

.ucs_main_info {border-right:1px #ccc solid; padding-right:15px; margin-right:15px; margin-bottom:15px;}
.ucs_main_info td {vertical-align:top;}
.ucs_fphone {font-size:10px; text-align:right;}

.ucs_reserv_login {width:610px; margin:auto; padding-bottom:10px; overflow:auto;}
.ucs_reserv_login table {padding-right:15px;}
#ucs_loginTable {margin:auto;}
#ucs_regTable {border-left:1px #ccc solid; padding-left:15px; margin:auto;}
#ucs_forgetTable {display:none; border-left:1px #ccc solid; padding-left:15px; margin:auto; padding-bottom:70px;}

.ucs_spanremove {float:right;}

.ucs_reserv_infolen {padding:2px;}
#ucs_reservinfo {width:44%; line-height:1.1em;}
#ucs_reservinfo .ucs_textarea {margin:3px 0px;}
#ucs_reservinfo div {font-size:10px;}
#ucs_reservinfo span {color:#000;}

.ucs_aboutguest div {font-size:11px;}
.ucs_aboutguest td div span{color:#ff0000;}
.ucs_aboutguest td {vertical-align:bottom !IMPORTANT; padding:0px 1px 5px 1px;}
.ucs_aboutguest td:first-child {padding-left:0px;}
.ucs_aboutguest .delguestinfo {background:#fff !IMPORTANT; width:31px !IMPORTANT;}
.ucs_aboutguest input, .ucs_aboutguest select {width:130px !IMPORTANT;}
.addguestinfo {width:45px !IMPORTANT; margin:3px 0px 6px 7px; display:block;}
.addguestinfo_load_img_big {padding:7px 0px 6px 0px;}
.addguestinfo_load_img {margin:5px 0px 6px 7px;}

.ucs_usercabinet_block {padding-bottom:35px;}
.ucs_usercabinet {font-size:11px; border-top:1px #ccc solid; border-left:1px #ccc solid; width:100%;}
.ucs_usercabinet a,.ucs_link {font-size:11px; display:block; text-decoration:none !IMPORTANT;}
.ucs_usercabinet a:hover,.ucs_link:hover {text-decoration:underline !IMPORTANT;}
.ucs_usercabinet .ucs_number {font-size:19px; color:#CB3514; cursor:pointer;}
.ucs_usercabinet .ucs_reserv_remove {color:#555 !IMPORTANT; cursor:text;}
.ucs_usercabinet .ucs_phone {font-size:14px; text-align:right;}
.ucs_usercabinet .ucs_contact {font-size:11px; text-align:right;}
.ucs_usercabinet .ucs_hotel {font-size:14px;}
.ucs_usercabinet .ucs_summ {font-size:14px; text-align:right; font-weight:bold; color:#555;}
.ucs_usercabinet .ucs_status {text-align:right;}
.ucs_usercabinet .ucs_nameresult {font-size:12px; text-align:left; font-weight:bold;}
.ucs_usercabinet td {padding:5px; border-right:1px #ccc solid; border-bottom:1px #ccc solid; vertical-align:middle;}
.ucs_usercabinet .ucs_informs {padding-bottom:10px;}

.ucs_aboutreserv_info {padding:5px;}
.ucs_aboutreserv_info span {color:#CB3514; font-size:14px;}

.ucs_aboutreserv_rate {font-size:11px; border:1px #ccc solid; padding:10px;}
.ucs_aboutreserv_rate .ucs_border_top {height:1px; padding:0px; margin:0px; background:#ccc;}
.ucs_aboutreserv_rate div {padding:3px 0px;}
.ucs_aboutreserv_rate span {color:#CB3514; font-size:14px;}
.ucs_aboutreserv_rate_block {font-size:11px; border-bottom:1px #ccc dotted; text-align:center; color:#555;}
.ucs_aboutreserv_rate_div {padding-top:5px; border-top:1px #ccc dotted;}
.ucs_aboutreserv_rate_info {padding-bottom:5px;}
.ucs_aboutreserv_list div {padding-left:15px;}
.ucs_aboutreserv_rate_sum {font-size:11px; text-align:left; color:#555; font-weight:bold;}
.ucs_aboutreserv_rate_sum span {font-size:14px !IMPORTANT;}
.ucs_ar_about_guest {padding-bottom:5px;}

.ucs_dop_info {border:1px #ccc solid; border-top:none; padding:5px; clear:both;}
.ucs_type_place_name {font-weight:bold; display:block;}
.ucs_type_place_name_wg {padding-bottom:5px;}

.ucs_elemcolor {
	background:#CB3514 !IMPORTANT;
	color:#fff !IMPORTANT;
	
	/*border:1px #CB3514 solid !IMPORTANT;
	border:none\9;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-1, OffY=0,color=#CB3514) progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=0,color=#CB3514) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1,color=#CB3514) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1,color=#CB3514);*/
}

.ucs_reservpay {font-size:11px; color:#000; float:left; border-top:1px #ccc solid; border-left:1px #ccc solid; width:450px;}
.ucs_reservpay td {padding:5px; border-right:1px #ccc solid; border-bottom:1px #ccc solid;}
.ucs_reservpay_desc {font-size:10px; line-height:1.2em; padding-top:3px;}

.ucs_clear {clear:both;}

.ucs_hotelselect {padding-bottom:15px;}
.ucs_hotelselect select {width:311px;}

.ucs_about {font-size:11px; text-align:right;}
.ucs_about label {margin-bottom:5px;}

.ucs_payment {width:100%; overflow:auto;}
.ucs_payment span {text-align:right; display:block; font-size:14px; color:#CB3514;}
.ucs_pay_desc {font-size:10px; width:520px; float:left; padding:10px;}
.ucs_pay_desc a {font-size:10px;}

.ucs_step {width:100%; overflow:auto; padding-top:25px; padding-bottom:5px; color:#ccc; font-family:Arial; font-size:12px; clear:both;}
.ucs_step span {color:#CB3514;}
.ucs_step font {font-size:14px;}
.ucs_step a {font-family:Arial; font-size:12px; color:#93BA33; text-decoration:none;}
.ucs_step a:hover {color:#CB3514;}

.ucs_sresult_table {vertical-align:middle; border-top:1px #eee solid; border-left:1px #eee solid; font-size:12px; width:100%;}
.ucs_sresult_table td {padding:5px !IMPORTANT; vertical-align:middle; border-right:1px #eee solid; border-bottom:1px #eee solid;}
.ucs_sresult_table .ucs_nameresult {font-size:12px; color:#000; text-align:left; cursor:default; line-height:1.2em;}
.ucs_sresult_table .ucs_nameresult div{font-size:10px; color:#444;}
.ucs_sresult_table .ucs_nameresult font{font-size:10px; color:#444;}

.norace {font-size:12px; color:#000;}
.norace td {padding:5px;}
.noracediv {border-top: 1px #ccc solid;}
.ucs_reserv_norate {font-size:11px; color:#000; float:left;}
.ucs_reserv_norate td {padding:3px;}
.ucs_reserv_norate td a {font-size:11px;}

.ucs_capcha_reserv {clear:both; font-size:12px;}
.ucs_capcha_reserv td {padding:5px;}
.ucs_capcha_reserv span {color:#CB3514;}

.ucs_sresult_table_bn  {width:100%;}
.ucs_sresult_table_bn  td {padding:5px !IMPORTANT; border:none;}
.ucs_creditcard_reserv {height:1px; padding:0px !IMPORTANT; margin:0px; background:#eee;}

.ucs_reservdelete {font-size:11px; color:#000; width:250px;}
.ucs_reservdelete td {padding:5px; }
/*.ucs_reservdelete_top {border-top:1px #ccc solid;}
.ucs_reservdelete_bottom {border-bottom:1px #ccc solid;}*/

.ucs_info_about_reserv {border-top:1px #eee solid; margin-top:5px; font-size:11px; width:100%;}
.ucs_info_about_reserv td {text-align:left; padding:10px; padding-left:5px; padding-right:5px; font-weight:bold; border-bottom:1px #eee solid;}
.ucs_info_about_reserv .ucs_info_about_reserv_name {font-weight:normal; width:150px;}

.ucs_current_list{padding-bottom:15px; height:20px; float:left;}
.ucs_to_result{padding-top:6px; float:right; color:#CB3514;}
.ucs_to_result a{font-size:11px; text-decoration:none;}
.ucs_to_result a:hover {text-decoration:underline;}
.ucs_about_prices {font-weight:bold;}

.ucs_firmcabinet {font-size:11px; float:left; padding-right:30px;}
.ucs_firmcabinet td {padding:5px;}
.ucs_firmcabinet #clear{background:#eee; text-align:center; width:100px; cursor:pointer; color:#CB3514; padding:5px;}
.ucs_empty {padding-bottom:20px;}

.ucs_connect_block {padding:100px 0px; font-size:14px;}
.ucs_check_connect, .ucs_no_connect {text-align:center;}

.ucs_timepicker {margin-right:1px; width:43px; color:#555;}

.ucs_mainnumb {background:#CB3514 !IMPORTANT; color:#fff !IMPORTANT; padding:0px 5px; margin-bottom:5px;}

.ucs_guest_type {margin-right:7px;}
.ucs_guestnumbinfo_link {border-top:1px #ccc solid;}
.ucs_guestnumbinfo_link p {padding-top:5px;}
.ucs_guestnumbinfo_one .ucs_guestnumb {background:#fff !IMPORTANT;}

.ucs_guestnumbhead {color:#CB3514; text-decoration:none; cursor:pointer;}
.ucs_guestnumbhead:hover {text-decoration:underline;}

.ucs_guestnumb {width:230px; background:#eee; float:left; font-size:11px;}
.ucs_guestnumb_pd {margin:5px 0px 5px 5px; padding:5px;}
.ucs_guestnumb td {padding:0px !IMPORTANT;}
.ucs_guestnumb_head {font-weight:bold;}
.ucs_guestnumb_head div {font-size:11px;}
.ucs_people_info_show {padding:5px !IMPORTANT;}
.ucs_people_info_show td{padding:3px !IMPORTANT;}
.ucs_people_info_show input {height:20px !IMPORTANT; font-size:12px;}

#ucs_cost {font-size:18px !IMPORTANT;}
.ucs_cost_rate {font-size:12px; color:#555; font-weight:bold; border:1px #ccc solid; border-top:none; padding:5px;}
.ucs_cost_rate span {font-size:14px; color:#555;}
.ucs_cost_rate font, .ucs_zag font, .ucs_aboutreserv_rate_sum font {text-decoration:line-through; font-size:11px !IMPORTANT;}
.ucs_cost_rate font span, .ucs_zag font span {font-size:11px !IMPORTANT;}
.ucs_summ font {text-decoration:line-through; font-size:10px !IMPORTANT; display:block;}

.ucs_operation_numb {color:#CB3514 !IMPORTANT;}

.ucs_firmcontract {padding-top:15px; clear:both;}

.ucs_factors_desc {font-size:11px;}
.ucs_factors_desc_img {padding-top:3px; font-size:12px; color:#4e4e4e; font-weight:bold;}
.ucs_factors_desc_img img:first-child {padding:0px 3px 0px 0px;}
.ucs_factors_desc_img img {padding:0px 3px;}

.ucspeopletype {width:172px !IMPORTANT;}

.ucs_ratepossible {font-size:11px; background:#eee;}
.ucs_ratepossible div {font-size:10px;}

.ucs_name_reservation {font-size:11px;}

.ucs_discount_block {padding:5px; border:1px #ccc solid;}
.ucs_discount_title {font-weight:bold;}
.ucs_discount_block table td {padding-right:2px;}
.ucs_discount_ex {padding:5px 0px;}
.ucs_discount_ex .ucs_discount_delete {color:#CB3514; cursor:pointer; text-decoration:none;}
.ucs_discount_ex .ucs_discount_delete:hover {text-decoration:underline;}

.ucs_link_forget {text-decoration:underline; cursor:pointer;}
.ucs_link_forget:hover  {text-decoration:none;}

.ucs_info_about_reserv_edit_link {text-align:right !IMPORTANT; padding-right:5px;}
.ucs_info_about_reserv_edit_link div {font-size:11px; color:#CB3514; text-decoration:none; cursor:pointer; font-weight:normal;}
.ucs_info_about_reserv_edit_link div font:hover  {text-decoration:underline;}

.ucs_info_about_reserv_guests {padding:0px; margin:0px;}
.ucs_info_about_reserv_guests td {padding:1px; margin:0px; border:none;}

.ucs_info_about_reserv_to_result {text-align:right !IMPORTANT; color:#CB3514; font-weight:normal !IMPORTANT; border:none !IMPORTANT;}
.ucs_info_about_reserv_to_result a {font-size:11px; color:#CB3514; text-decoration:none; font-weight:normal;}
.ucs_info_about_reserv_to_result a:hover  {text-decoration:underline;}

.ucs_aboutreserv_info_block {font-size:12px;}
.ucs_aboutreserv_info_block .ucs_aboutreserv_rate_div {padding:5px 0px;}
.ucs_aboutreserv_info_block span {color:#CB3514; font-size:15px;}
.ucs_aboutreserv_info_block .ucs_aboutreserv_list div {padding-left:15px; padding-top:5px;}

.ucs_aboutreserv_info_block_rates {margin-top:15px;}
.ucs_aboutreserv_info_block_rates .ucs_aboutreserv_rate_info {background:#eee; margin:5px 0px; padding:5px;}
.ucs_aboutreserv_info_block_rates .ucs_aboutreserv_rate {border:none; padding:0px;}
.ucs_aboutreserv_info_block_rates .ucs_aboutreserv_info {display:none !IMPORTANT;}
