</p>
<p style="padding-top:10px">
    Парк-Отель «Кленовая Роща»<br />
    +7(8412) 255-204 <br />
    442600, Пензенская область, Спасский район, на север от автодороги Спасск-Абашево<br />
    korabl_kl@mail.ru<br />
    http://klen-rosha.ru/
</p>