<div>Уважаемый #FIO#, Вы запросили выслать доступ для входа на наш сайт.</div>
<div>Вы можете войти в систему, используя следующие логин и пароль</div>
<div>Логин: #LOGIN#</div>
<div>Пароль: #PASSWORD#</div>