<div>Отмена брони № <span style="font-size:21px;">#RESID#</span></div>
<div>Контактное лицо: <span style="font-size:17px;">#FIO#</span></div>
<div>Телефон: <span style="font-size:17px;">#PHONE#</span></div>
<div>E-mail: <span style="font-size:17px;">#EMAIL#</span></div>