<div>Закрытие бизнес-дня #DATE#</div>
<div>Статус выполнения: #RESULT#</div>
<div>Код выполнения: #RESULT_CODE#</div>

<p>
--------------------------------------
</p>

<div>Статус выполнения OK - Выполнено успешно</div>
<div>Код выполнения 500 - Одобрено: итоги совпали</div>