* {margin:0; padding:0;}
body {padding:20px; font-family:Arial; font-size:14px; background:#fafcf6;}
td {padding:5px;}
h1 {font-family:Arial; font-size:17px; padding-bottom:5px; padding-left:5px; color:#444;}
input[type="submit"] {background:#24ac0e; border:none; padding:5px 10px; color:#fff;}
input[type="text"],[type="password"] {padding:3px;}
a {font-family:Arial; font-size:12px; color:#CB3514; text-decoration:none;}
a:hover {text-decoration:underline;}
img {border:none;}

.page {width:900px; margin:auto;}
.forms {width:350px; margin:auto; padding-top:10%}

.menu {padding-bottom:30px; text-align:right; overflow:auto;}
.menu a {font-size:12px;}
.menu img {float:left;}
.menu div {padding-top:25px;}

.btext {width:500px; margin:auto; padding-top:10%}
.text {line-height:1.5em;}

.settings {border-top:1px #ccc solid; border-left:1px #ccc solid; color:#444; clear:both;}
.settings td {border-right:1px #ccc solid; border-bottom:1px #ccc solid; padding:10px 5px;}
.settings .numb_categ {width:20px; text-align:center; color:#444; font-weight:bold;}
.settings .numb_param {text-align:center; color:#888;}
.settings .category {font-size:15px; font-weight:bold;}
.settings .param {width:300px;}
.settings input[type="text"] {width:90%;}
.settings select {width:93%; padding:3px;}
.settings .desc {font-size:12px;}
.settings .grey {background:#eee;}
.settings .empty_allow_check {background:#CB3514; color:#fff;}
.settings .error_mess {color:#CB3514; padding:5px; display:none;}
.settings div {padding-top:3px;}
.error {color:#CB3514; padding:5px;}
.error_ps {padding:5px; color:#fff; margin:5px 0px; background:#CB3514;}

.cp {text-align:right; padding:15px 0px; font-size:12px; line-height:1.5em;}
.cp img {padding-left:5px;}